.containerCardShopp {
  width: 100%;
  height: 100vh;
}

.containerGeneralLogin {
  width: 100%;
  height: 100vh;
}

.shoppingCart {
  padding: 1em 2.5em;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 0px 12px -6px;
}

.shoppingCart h2 {
  width: 65%;
  padding-bottom: .5em;
  margin: 0;
}

.shoppingCart .cardShoppingCart {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .3);
  border-radius: 0;
  padding: 1em;
  align-items: center;
  gap: .7em;
}

.principalSC {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.containerCardsSC {
  width: 65%;
}

.cardShoppingCart .cardContainerImageSC {
  height: 10rem;
  width: 15%;
}

.cardShoppingCart .cardImageSC {
  width: 100%;
  height: 10em;
  object-fit: contain;
}

/* CONTENEDOR */
.body-styles-component {
  height: 100%;
}

.containerBodySC {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .7em;
}

.shoppingCart p {
  margin: 0;
}

.containerBodySC span {
  color: #169E85;
  font-weight: 600;
}

.containerBodySC .priceSC {
  font-size: 1.3em;
  margin-left: 1em;
}

.containerButtonsSC {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  padding-left: 1em;

}

.containerButtonsSC .MuiSvgIcon-root {
  color: #169E85;
  cursor: pointer;
}

/* IMAGEN STYLES CARD  */
.container-image {
  height: 12rem;
  width: 100%;
}

.container-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.selectQuantity {
  display: flex;
  gap: .7em;
}

.selectQuantity p {
  font-weight: 600;
}

.paymentDetailSC {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.paymentDetailSC .MuiButton-contained {
  background-color: #169E85;
}

.paymentDetailSC .MuiButton-contained:hover {
  background-color: #0F6B5A;
}

.paymentDetailSC p {
  font-size: 1.5em;
  padding-bottom: .3em;
  border-bottom: 1px solid rgb(0, 0, 0, .4);
}

.paymentDetailSC span {
  font-weight: 600;
}

.buttonPayment {
  border: black;
}

.buttonPayment:hover {
  color: grey;
}