.wrapper {
  background-color: darkgray;
  width: 100%;
  height: 100%;
}

.cards {
  background-color:#f8f8ff;
  width: 200px;
  height: auto;
  float: left;
  padding: 1%;
  border: 1px solid #323449ed;
  border-radius: 10px;
}

.imgCard {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.imgCard img {
  width: 150px;
  height: 200px;
}

.capCard01 {
  background-color: #323449ed;
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.capCard02 {
  border: 1px solid white;
  background-color: #323449ed;
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  text-align: center;
}