.containerHome .card {
  height: 34rem;
  border-radius: 19px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.containerHome .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.7s ease-in-out;
}

.linkStyle {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerName {
  font-weight: 800;
  color: #000000;
  font-size: 40px;
}

.containerListDescription {
  width: 8rem;
}

/* CARD HOME */
.container-card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card .MuiSkeleton-root {
  height: 200px;
  width: 200px;
  margin: 15px;
}

/* CONTAINER BUTTOM AND TITLE CARD */
.container-title-buttom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-image {
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 14rem;
  border-radius: 2rem;
}

.img-card-component {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* BTN-CARDS (LIKE- CARRITO */
.button-like {
  cursor: pointer;
  margin: 0.5em;
  width: 1.9em;
  height: 1.2em;
  color: rgb(61, 61, 61);
}

.button-add-shop {
  cursor: pointer;
  margin: 0.5em;
  width: 1.9em;
  height: 1.2em;
  color: rgb(61, 61, 61)
}

.button-add-shop :hover {
  color: #169E85;
}

.button-like:hover {
  color: #9e1616;
}

.cardPrice {
  color: #169E85;
  font-size: 1em;
  font-weight: 600;
}

body.Dark .card {
  background: linear-gradient(90deg, white 45%, #0f7461);
  border: none;
}

body.Dark .containerListDescription {
  background-color: rgba(0, 0, 0, 0);
}