.my-carousel-container {
    height: 20rem;
}

.carousel-item {
    padding: 1rem;
}

.img-carousel {
    height: auto;
    width: auto;
    object-fit: cover;
}

@media (max-width: 500px) {
    .my-carousel {
        height: 10rem;
    }
}

@media (min-width: 992px) {
    .my-carousel {
        height: 500px;
    }
}